<webobject name = "Script"></webobject>
  <h1 style="text-align: center;background-color: #ff981c;">Choix des groupes</h1>
  
<webobject name = "Form">
    <webobject name = "GroupesAps">
  	  <h3 onclick = "display(<webobject name=IdGroupeAp></webobject>);" style="color: #4f4f4f;cursor:pointer;"> <webobject name = "GroupeAp"/> semestre <webobject name = "GroupeSem"/></h3>
  	  <div style="display: none" id="<webobject name=IdGroupeAp></webobject>">
  	  <webobject name = "Groupes">
  		<webobject name = "Groupe"/><webobject name = "Case"/><br/>
  	  </webobject>
  	  </div>
	</webobject>
    <webobject name = "Valider"/>
 </webobject>
