{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_GROUPE_PREVU"; 
            externalType = NUMBER; 
            name = mapGroupePrevu; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_KEY"; 
            externalType = NUMBER; 
            name = mapKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_LIBELLE"; 
            externalType = VARCHAR2; 
            name = mapLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 200; 
        }, 
        {
            columnName = "MAP_SEUIL"; 
            externalType = NUMBER; 
            name = mapSeuil; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "MAP_VALEUR"; 
            externalType = NUMBER; 
            name = mapValeur; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "MHCO_CODE"; 
            externalType = VARCHAR2; 
            name = mhcoCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = "MHMO_CODE"; 
            externalType = VARCHAR2; 
            name = mhmoCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }
    ); 
    attributesUsedForLocking = (
        fannKey, 
        mapGroupePrevu, 
        mapKey, 
        mapLibelle, 
        mapSeuil, 
        mapValeur, 
        mhcoCode, 
        mhmoCode
    ); 
    className = "org.cocktail.superplaner.serveur.metier.MaquetteAp"; 
    classProperties = (
        fannKey, 
        horaireCode, 
        mapGroupePrevu, 
        mapKey, 
        mapLibelle, 
        mapSeuil, 
        mapValeur, 
        mhcoCode, 
        mhmoCode, 
        reservationAps, 
        scolFormationAnnee, 
        scolGroupeObjets, 
        vParcoursAp
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_AP"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_javaClientClassName" = "org.cocktail.superplan.client.metier.MaquetteAp"; }; 
    name = MaquetteAp; 
    primaryKeyAttributes = (mapKey); 
    relationships = (
        {
            destination = HoraireCode; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mhcoCode; sourceAttribute = mhcoCode; }); 
            name = horaireCode; 
        }, 
        {
            destination = ReservationAp; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = reservationAps; 
        }, 
        {
            destination = FormationAnnee; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = fannKey; sourceAttribute = fannKey; }); 
            name = scolFormationAnnee; 
        }, 
        {
            destination = ScolGroupeObjet; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = scolGroupeObjets; 
        }, 
        {
            destination = VParcoursAp; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mapKey; sourceAttribute = mapKey; }); 
            name = vParcoursAp; 
        }
    ); 
    userInfo = {fetchSpecificationDictionary = {}; }; 
}
