# (c) Cocktail
# Fichier de config de l'application SuperPlanER 
# Les parametres definis ici remplacent ceux
# definis dans la table GRHUM.GRHUM_PARAMETRES 

APP_USE_MAIL=YES
GRHUM_HOST_MAIL=mailhost.cocktail.org
ADMIN_MAIL=superplaner@cocktail.org
DOMAIN_NAME=cocktail.org

APP_ID=EDTSCOL
APP_ALIAS=SuperPlanER
APP_TITLE=SUPERPLANER
APP_USE_GEDFS=NO
APP_ULR=http://www.unimes.fr

#repertoire qui contient les.jasper livres par l'application (celui de l'application)
#REP_BASE_JASPER_PATH=/opt/xxxxx/...../PreInscription/JRXMLS/
REP_BASE_JASPER_PATH=a definir

#repertoire qui contient les.jasper VOTRE BASE LOCALE
#REP_BASE_JASPER_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/JRXMLS/
REP_BASE_JASPER_PATH_LOCAL=a definir


#repertoire qui contient les.xls livres par l'application (celui de l'application)
#REP_BASE_XLS_PATH=/opt/xxxxx/...../PreInscription/XLS/
REP_BASE_XLS_PATH=a definir

#repertoire qui contient les.xls VOTRE BASE LOCALE
#REP_BASE_XLS_PATH_LOCAL=/opt/xxxxx/local/...../PreInscription/XLS/
REP_BASE_XLS_PATH_LOCAL=a definir

#Config SAUT + Modeles
#SAUT_URL = Adresse de votre serveur SAUT si vous en avez un 
#(du type http://www.univ-xxxxxx.fr/cgi-bin/WebObjects/SAUT.woa/wa/)
SAUT_URL=http://hippolyte.unimes.fr/cgi-bin/WebObjects/ServAut.woa/wa/
SAUT_ID_TRANSLATION=GRHUM:GRHUM,ULOGIN:GRHUM,EDTSCOL:EDTSCOL,LMD:GRHUM
NET_NO_PROXY_HOSTS=*.univ-xxxxx.fr

#Identification CAS
#utilisation de l'identification CAS
#APP_USE_CAS=(YES|NO)
CAS_USE_CAS=YES
APP_USE_CAS=YES
CAS_SERVICE_URL=https://wallace.unimes.fr/cas

MODE_DEBUG=false
