<webobject name = "RechercheContainer">
  <h1>Ajouter un évènement</h1>

   	<webobject name = "Form">
    Jour : <webobject name = "EventJour"></webobject> Année : <BR/>
	<!-- 
	Heures de <webobject name = "HourStart"></webobject> à <webobject name = "HourEnd"></webobject><BR/>
   	-->
	Motif de la réservation <br/>
	<webobject name = "EventTitle"></webobject><BR/>
    <webobject name = "TabbedPanel">
      <webobject name = "TabPersonne">
      	<webobject name = "RecherchePersonne"></webobject>
      </webobject>
      <!-- 
      <webobject name = "TabSalle">
      	<webobject name = "RechercheSalle"></webobject>
      	<webobject name = "ResultatSallesContainer"></webobject>
      </webobject>
      -->
      <webobject name = "TabEns">
  	    	<webobject name = "RechercheEns"/>
      </webobject>
      <webobject name = "TabExam">
      </webobject>
      <webobject name = "TabObj">
      </webobject>*
    </webobject>  
    
	</webobject>
</webobject> 